# System files
.DS_Store

/.datasets/
/.cache/
/dist/

# Coverage
coverage/

# Node modules
node_modules/

# Current chat
chat/
me.md

# Cursor
.cursorrules

# VSCode
.vscode/

# Temporary
/apps/
.agent/

# Playwright
*-snapshots/
test-results/
playwright-report/
blob-report/
